In [1]:
import numpy as np
import pandas as pd
import duckdb
import time

In [28]:
fedFunds = pd.read_csv("FEDFUNDS.csv")
un = pd.read_csv("un.csv")
gdp = pd.read_csv("GDP.csv")
musicGdp = pd.read_csv("USPRFRMSPRTMSMNGSP.csv")

econdata = un.merge(fedFunds, how="left")
econdata = econdata.merge(gdp, how='left')
econdata = econdata.merge(musicGdp, how='left')
econdata

           DATE  UNRATE  FEDFUNDS      GDP  USPRFRMSPRTMSMNGSP
0    1948-01-01     3.4       NaN  265.742                 NaN
1    1948-02-01     3.8       NaN      NaN                 NaN
2    1948-03-01     4.0       NaN      NaN                 NaN
3    1948-04-01     3.9       NaN  272.567                 NaN
4    1948-05-01     3.5       NaN      NaN                 NaN
..          ...     ...       ...      ...                 ...
916  2024-05-01     4.0      5.33      NaN                 NaN
917  2024-06-01     4.1      5.33      NaN                 NaN
918  2024-07-01     4.3      5.33      NaN                 NaN
919  2024-08-01     4.2      5.33      NaN                 NaN
920  2024-09-01     4.1      5.13      NaN                 NaN

[921 rows x 5 columns]

In [34]:
econdata.to_csv("econ_data.csv")